@model SanaFirstApp.Models.UsernameViewModel
<div class="center-outer">
    <h1 class="center-inner">Hello @Html.DisplayFor(m => m.UsernameView)
        <form>
            <a href="/" class="btn btn-secondary">Back</a>
        </form>
    </h1>
    
</div>
